.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader_color {
  color: #b20404;
}

.modal-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.modal-dialog {
  width: 475px;
  background-color: white;
  padding: 1.5rem;
  border-radius: 10px;
}
